@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.wrapper {
    background-color: #FDF0E9;
    font-family: 'Epilogue', sans-serif;
    padding-bottom: 184px;
    }

.container {
    margin: 0 135px;
    }

.filters {
    display: flex;
    justify-content: space-between;
    margin: 85px auto 75px;
    width: 560px;
    }

.filter {
    color: #391400A3;
    font-size: 16px;
    list-style: none;
    }

.filterSelected {
    color: #16CD53;
    }

.filterSelectButton {
    border: 1px solid #F3D1BF;
    border-radius: 6px;
    display: none;
    margin: 32px auto 48px;
    padding: 18px 16px 14px;
    position: relative;
    }

.loadMore {
    background-color: #FFFFFF;
    border: none;
    border-radius: 6px;
    box-shadow: 0 3px 9px #39140014;
    color: #391400;
    display: flex;
    margin: 0 auto;
    padding: 18px 43px;
    }

@media (max-width: 1040px) {
    .container{
        margin: 0 10vw;
        }
    .filters {
        display: none;
        }

    .filterSelectButton {
        display: flex;
        }

    .filterSelectButtonContainer{
        position: relative;
        }
    .filterSelectButton::before {
        background-color: #4f160e;
        content: '';
        display: block;
        height: 5px;
        position: absolute;
        border-top: 5px solid #EF6D58;
        border-left: 5px solid transparent;
        border-top: 5px solid transparent;
        right: 5px;
        top: 5px;
        width: 5px;
        z-index: 100;
        }
    }
